backend:
  name: github
  repo: HasanSohail1/HasanSohail1.github.io
  branch: main
  auth_type: pkce
  app_id: Ov23liLguw6n6L44yX5M

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "About"
        name: "about"
        file: "content/about.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }

  - name: "publications"
    label: "Publications"
    folder: "content/publications"
    create: true
    slug: "{{year}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Authors", name: "authors", widget: "string" }
      - { label: "Year", name: "year", widget: "number" }
      - { label: "Journal", name: "journal", widget: "string" }
      - { label: "PDF URL", name: "pdf", widget: "string", required: false }
